#**
 * Author: Andrew Jarombek
 * Date: 9/2/2018
 * HTTP Response for the roman-numeral/{integer} REST endpoint
 *#

#set($response = $input.path('$'))

{
#if($response != "")
"romanNumeral": "$response"
#else
"error": "failed converting to roman numeral"
#end
}